/* main */
main {
    background: rgb(227,212,35);
    background: linear-gradient(0deg, rgba(227,212,35,1) 0%, rgba(253,187,45,1) 100%);
    height: 100vh;
    width: 100%;
    color: black;
    display: flex;
    align-items: center;
    justify-content: center;
}

#password_generator {
    background-color: rgb(206, 206, 206);
}

.your_password {
    background-color: white;
    border-radius: 5rem;
    padding: 9rem 0;
}